<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<form action="/comments" method="post">
	<input type="hidden" name="comment[post_id]" value="<%=@post.id%>">
	<textarea name="comment[description]"></textarea>
	<br>
	<input type="submit">
  </form>

<h3><strong>Comments:</strong></h3>
	<% @post.comments.each do |comment|%>
		<p><%= comment.description %></p>
	<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
