<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
	<div class='collapse navbar-collapse navbar-ex1-collapse'>
		<ul class='nav navbar-nav'>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Administrador', posts_path %></li>
		</ul>
	</div>
</nav>
<%= yield %>

</body>
</html>
